body {
background: black;
background-size: cover;
color: white;
max-width: 100%;
overflow-x: hidden;
font-family: 'Andes';
text-align: center;
}
p{
  letter-spacing: 0px;
}
img {
  border-radius:27%;
}
footer {
  font-family: 'Mania';
  display: block;
  text-align: center;
  padding: 9px;
  color: white;
}
@font-face {
    font-family: Andes;
    src: url("files/andes.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: Mania;
    src: url("files/mania.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}